/* ----- OVERALL STYLING -----*/

h1 {
    text-align: center;
}

h2 {
    padding: 10px;
}

/* ----- HOME PAGE STYLING ----- */

/* HOME PAGE STYLING GOES HERE */



.home {
    padding-top: 30px;
    text-align: center;
}

.opening {
    padding: 50px;
}

.formContainer {
    /* */
}

.form {
    border-radius: 2px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=submit] {
    background-color: #00ffff;
}